<div class="section" id="our_north">
  <div class="container">
    <div class="slide6">
      <div class="row1 row">
        <div class="text text1">
          <h3>Our North Star</h3>
        </div>
        <div class="content content1">
          <p>HR Vision:<i> Create purposeful and inclusive experiences that inspire and enable people to learn more,
              achieve more and accelerate Organization’s profitable growth.</i></p>
          <p>OD <b>priorities</b> are driven by:</p>
          <div class="column_1">
            <div class="col1">
              <p>Organization Strategy</p>
            </div>
            <div class="col1">
              <p>Transformation <br> Management Office</p>
            </div>
            <div class="col1">
              <p>Human Capital <br>Strategy</p>
            </div>

          </div>
        </div>
      </div>
      <div class="row2 row">
        <div class="text text2">
          <h3>What <span class="edittext">is our unique value proposition?</span></h3>
        </div>
        <div class="content content2">
          <p>Whether you’re reimagining your business model, deploying a new strategy, optimizing your culture, future
            proofing your organization design, or need more effective leadership engagement, <b>Organization Development
              (OD) is your partner with a unique blend of relevant & innovative solutions that help you accelerate
              results.</b></p>
        </div>
      </div>
      <div class="row3 row">
        <div class="text text3">
          <h3>How <span class="edittext">will we achieve it?</span></h3>
        </div>
        <div class="content content3">
          <p>By providing diagnostic and delivery expertise for OD solutions, offering a flexible global service model
            and
            <b>deep business knowledge</b> resulting in a value driven, engaged, inclusive and cost effective team.
            <b>Focusing</b> on the solutions that matter most:
          </p>
          <div class="column_3">
            <div class="divider">
              <div class="col1">
                <img src="assets/images/S6_P1.png">
              </div>

              <div class="col1 align">
                <h5>Strategic People Transformation</h5>
              </div>
            </div>
            <div class="divider">
              <div class="col2">
                <img src="assets/images/S6_P2.png">
              </div>
              <div class="col2 align">
                <h5>Leadership Engagement</h5>
              </div>
            </div>
            <div class="divider">
              <div class="col3">
                <img src="assets/images/S6_P3.png">
              </div>
              <div class="col3 align">
                <h5>Culture</h5>
              </div>
            </div>
            <div class="divider">
              <div class="col4">
                <img src="assets/images/S6_P4.png">
              </div>
              <div class="col4 align">
                <h5>Organization Design</h5>
              </div>
            </div>
            <div class="divider">
              <div class="col5">
                <img src="assets/images/S6_P5.png">
              </div>
              <div class="col5 align">
                <h5>Change</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
