<div id="slide5" class="half_banner">
  <div class="bg_img">
    <div class="container">
      <div class="title_panel">
        <h2 class="title">{{heading}}
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container size">
  <app-breadcrumb [navArr]="[{link:'key_partners', text:'Key Partners'}, {link:'corporate_affairs', text:'Global Communications'}]">
  </app-breadcrumb>
  <h3>Global Communications | Communications and Change Communication </h3>
  <div class="content">
    <div class="line1">
      <div class="head">

        <p>Specifically in the space of Transformation and change project we partner with Corporate Affairs is to ensure
          effective stakeholder identification, communications planning and delivery</p>
        <p class="para">Key services we provide in this context:</p>
        <ul>
          <li>Support our external relations communications teams in working with key stakeholders</li>
          <li>Work together to plant and deliver change communications program</li>
        </ul>
      </div>

      <div class="image">
        <img src="assets/images/coaffairs1.png">
      </div>
    </div>

    <div class="line2">
      <div class="heading">
        <p class="para">How we deliver</p>
        <div class="subpara">
          <div class="sub"></div>
          <div class="sub1"></div>
          <div class="sub2"></div>
        </div>
      </div>
      <div class="text">
        <ul>
          <li>All change projects with external impact should be connected with CA comms resource for external and media
            relations</li>
          <li>Change comms resources will be assigned in partnership and connection with change project leads and comms
            resources in the business to ensure planning is integrated with overall org priorities (I.e., hiring should
            happen
            in partnership with current comms resources, not separately)</li>
        </ul>

      </div>
    </div>

    <div class="line3">
      <div class="head">
        <p class="para">Key Roles involved:</p>
        <ul>
          <li>Identify key stakeholders and impact – both internal and external constituencies</li>
          <li>Spokesperson for all media inquiries</li>
          <li>Develop and deliver comms plans – both internal and external</li>
          <li>Connect change projects with overall business and org priorities to provide integrated narrative</li>
        </ul>
      </div>


    </div>


  </div>
  <!--<div class="content">
<div class="bg">

</div>
<div class="texts">
  <div class="head">
    <p class="title">Key services we provide in this context:</p>
    <ul>
      <li>External relations (media, customers, NGOs, Works Councils, communities, etc.)</li>
      <li>Change communications planning and delivery (internal) 
      </li>
    </ul>
  </div>
<div class="head">
  <p class="title">How we deliver:</p>
  <ul>
    <li>All change projects with external impact should be connected with CA comms resource for external and media relations</li>
    <li>Change comms resources will be assigned in partnership and connection with change project leads and comms resources in the business to ensure planning is integrated with overall org priorities (I.e., hiring should happen in partnership with current comms resources, not separately)</li>
  </ul>
</div>

<div class="head">
  <p class="title">Key Roles involved:</p>
  <ul>
    <li>Identify key stakeholders and impact – both internal and external constituencies</li>
    <li>Spokesperson for all media inquiries</li>
    <li>Develop and deliver comms plans – both internal and external</li>
    <li>Connect change projects with overall business and org priorities to provide integrated narrative</li>
  </ul>
</div>





</div>



</div>-->



</div>
