@import '../../variables';
.half_banner {
  
    .bg_img {
      background-image: url('../../../assets/images/partner_bg.png');
    }
  }
.image {
  cursor: pointer;
  line-height: 1;
  transition: color .3s;
  img{
    width: 70%;
  }
}

.content{
  display: flex;
a{
  text-decoration: none;
}
  .button{
    margin-left: 50px;
   
    border-radius: 10px;
    width: 350px;
    height: 80px;
    background-color: $brand_color;
    .image{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      p{
        padding: 15px;
        font-weight: bold;
      }
      img{
        height: 50px;
        width: 50px;
      }
    }
  }
.accordion {
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0, 0, 0, .05);
  border: 1px solid #ddd;
  border-top: 0px;
  margin-bottom: 30px;
  max-width: 700px;
 
 
 
  .item {
   
  
  
    &.selected {
      border-left: 4px solid $brand_color;
    }
  }

  .title {
    border-top: 1px solid #ddd;
    display: flex;
    padding: 2rem;
    padding-bottom: 20px;
   
    

    .text {
      flex: 1;
      font-weight: bold;
      cursor: pointer;

    }
  }

  .content {
    padding-bottom: 2rem;
    

   
  }
}



section {
  padding: 0 2rem;
  
  

}
}