<div id="slide5" class="half_banner">
  <div class="bg_img">
    <div class="container">
      <div class="title_panel">
        <h2 class="title">{{heading}}

        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container size">
  <app-breadcrumb
    [navArr]="[{link:'key_partners', text:'Key Partners'}, {link:'global_learning_mgmt', text:'Global Learning & Development'}]">
  </app-breadcrumb>
  <h3>Global Learning & Development (L&D)</h3>
  <p><b>Learning & Development designs and delivers modern, personalized learning experiences that
      enable individuals and teams to learn or deepen the capabilities needed for Organization to achieve
      its growth aspirations, compete, remain relevant and solve challenges today and in the future.</b></p>

  <div class="content">
    <div class="line1">
      <div class="head">
        <p>With the pace and volume of change rapidly increasing, and the degree of uncertainty we face in today’s
          global
          business environment, we must recognize the critical role organizational learning can and must play in
          Organization’s
          success.</p>

        <p>New learner-centric design methods and digital learning technologies allow us to deliver high-impact learning
          experiences that:</p>
        <ul>
          <li>more closely mimic how we learn in our social lives;</li>
          <li>integrate with employees’ daily flow of work simply in an accessible way;</li>
          <li>require shorter design cycles;</li>
          <li>are more scalable but highly personalized;</li>
          <li>largely eliminate the need for travel;</li>
          <li>reduce the global footprint to support and execute (e.g., L&D, coordination, and IT resources); and</li>
          <li>enable learning anytime, anywhere, and is accessible through any device.</li>
        </ul>
      </div>

      <div class="image">
        <img src="assets/images/Cargill_learning1.png">
      </div>
    </div>

    <div class="line2">
      <div class="heading">
        <p class="para">Your learning Anytime Your Way</p>
        <div class="subpara">
          <div class="sub"></div>
          <div class="sub1"></div>
          <div class="sub2"></div>
        </div>
      </div>
      <div class="text">
        <p>Our digital learning vision and strategy is driving the modernization of the employee learning
          experience at Organization and positioning corporate learning investments as a lever to accelerate
          transformation and execute on strategies.</p>
      </div>
    </div>

    <div class="line3">
      <div class="image">
        <img src="assets/images/globallearning1.png">
      </div>


    </div>


  </div>

  <h3>Organization Learning & Development (L&D) Governance: Creating a culture of continuous learning across Organization</h3>
  <div class="content1">
    <div class="line1">
      <div class="head">
        <p><a>Organization’s Learning & Development (L&D) Governance</a>
          serves as organizational guardrails for how Organization learning assets are managed. By aligning to these
          standards, all
          areas across Organization that manage some form of learning, training, or education will be doing their part to
          optimize the
          employee learning experience, maximize the return on Organization’s investments, and mitigate risks associated with
          IP and
          data privacy.</p>
        <p>There are three Organization L&D Governance Operating Parameters that make up the governance. As defined in these
          operating
          parameters, best practice is to leverage existing learning experiences and technologies whenever possible.
          This ensures
          greater efficiency and effectiveness for all of Organization. More information can be found on each of the
          operating
          parameters here:</p>
        <ul>
          <li><a
             >Curriculum Ownership & Learning Content Management</a></li>
          <li><a>Learning Technology & Design Standards</a></li>
          <li><a>Learning Contracts & Select Suppliers</a></li>
        </ul>
      </div>

      <div class="image">
        <img src="assets/images/coaffairs1.png">
      </div>
    </div>



    <!-- <div class="line3">
      <div class="head">
        <p class="para">Leverage existing learning technology</p>
        <p>When a learning need cannot be satisfied through an existing learning experience, a
          Degreed pathway is the next most efficient way to skill up employees.</p>
        <p>Businesses and Functions can create engaging learning experiences consisting of
          carefully selected content resources (articles, videos, podcasts, books, events, tasks
          and sources) around a targeted business need in Degreed.</p>
      </div>
  
      <div class="text">
        <P>For more information, refer to these Degreed resources:</P>
        <ul>
          <li><a href="https://learn.cargill.com/" target="_blank">learn.cargill.com</a></li>
          <li><a href="https://vimeo.com/288087833/c741147fa0" target="_blank">Degreed + You</a> (video 07:25)</li>
          <li>Job Aid: Key Features: <a
              href="https://cargill-admin.ancileuperform.com/ucontent/82a2ebd7b8d7468e84087b51b3e7317e_en-US/index.pdf"
              target="_blank">English,</a>
            <a href="https://cargill-admin.ancileuperform.com/ucontent/82a2ebd7b8d7468e84087b51b3e7317e_pt-BR/index.pdf"
              target="_blank">Portuguese,</a>
            <a href="https://cargill-admin.ancileuperform.com/ucontent/82a2ebd7b8d7468e84087b51b3e7317e_es-ES/index.pdf"
              target="_blank">
              Spanish</a> </li>
  
          <li>Job Aid: Create a Group: <a
              href="https://cargill-admin.ancileuperform.com/ucontent/ec80f0296f4f490b81b223f558b5d877_en-US/index.pdf"
              target="_blank">English,</a>
            <a href="https://cargill-admin.ancileuperform.com/ucontent/ec80f0296f4f490b81b223f558b5d877_pt-BR/index.pdf"
              target="_blank">Portuguese,</a>
            <a href="https://cargill-admin.ancileuperform.com/ucontent/ec80f0296f4f490b81b223f558b5d877_es-ES/index.pdf"
              target="_blank">Spanish</a>
          </li>
  
          <li>Job Aid: Create a Pathway:
            <a href="https://cargill-admin.ancileuperform.com/ucontent/1ab25a14ca804ac69aeb57e026475ffe_en-US/index.pdf"
              target="_blank">English,</a>
            <a href="https://cargill-admin.ancileuperform.com/ucontent/1ab25a14ca804ac69aeb57e026475ffe_pt-BR/index.pdf"
              target="_blank">Portuguese,</a>
            <a href="https://cargill-admin.ancileuperform.com/ucontent/1ab25a14ca804ac69aeb57e026475ffe_es-ES/index.pdf"
              target="_blank">Spanish</a>
          </li>
        </ul>
      </div>
  
  
    </div>-->

    <div class="line4">
      <div class="head">
        <p class="para">HR L&D Product & Service Offerings: How we deliver our L&D work</p>



        <!--<div class="image">
          <img src="assets/images/gtm.png">
  
        </div>
      </div>
  
      <div class="links">
        <div class="back">
          <p class="para"><b>Digital Learning Resources</b></p>
          <ul>
            <li><a href="https://cargill-admin.ancileuperform.com/ucontent/7070351f9b7543a68a242ab9649fbd16_en-US/index.pdf" target="_blank">Digital Learning Factsheet</a></li>
            <li><a href="https://web.microsoftstream.com/video/a5f884ba-9d1f-4ae2-bec9-6af4602d79be?channelId=25938319-17a3-4e55-9343-9d8826292a61" target="_blank">Digital Learning Strategy & Vision with Julie Dervin</a> (video 08:13)</li>
            <li><a href="https://cargillonline.sharepoint.com/sites/MyHR_Global/SitePages/My-Learning-%26-Development.aspx" target="_blank">Learning & Development on MyHR</a> (links to the Factsheet in other languages
              located here)</li>
            <li><a href="https://www.yammer.com/cargill.com/#/threads/inGroup?type=in_group&feedId=16807183" target="_blank">Digital Learning in Cargill Yammer Group</a></li>
            <li><a href="https://web.microsoftstream.com/video/c8ae7471-3fd8-4ec8-b36d-c325067b7f68" target="_blank">Digital Learning</a> (video 01:12)</li>
            <li><a href="https://web.microsoftstream.com/video/a39bd772-4b75-4ba0-9c44-800c0c3d6d1c" target="_blank">Continuous Learning</a> (video 02:26)</li>
          </ul>
        </div>
      </div>-->


      </div>
      <div class="content_center">The outcome or objective is specific or unique to team development goals (i.e., Team
        Development, Enterprise/Function
        Leadership Forums, Coaching, Mentoring, Rotation Programs and Consulting to support learner awareness and
        adoption of
        digital learning tools and resources)
        <img src="assets/images/gtm1.png">
      </div>
      <div class="content_center1">
        <div class="left">
          <p>College of Leadership & <br>Managerial Excellence</p>
          <p>College of Business & <br>Commercial Excellence</p>

          <p>College of Functional & <br>Operational Excellence</p>
          <p>Digital Capability Services</p>
        </div>
        <div class="center"></div>
        <div class="right">
          <p>Provide content and curation support for digital learning programs and curation pathways</p>
          <p>Oversee the licensing and reconciliation for the learning technology ecosystem</p>

          <p>Oversees administrative functions for Global Learning ecosystem</p>
          <p>Supports Global Delivery of L&D programs and provides localized support for curriculums</p>
        </div>
      </div>

      <!--<div class="content">
  <div class="texts">
    <div class="head">
      <p>With the pace and volume of change rapidly increasing, and the degree of uncertainty we face in today’s global business environment, we must recognize the critical role organizational learning can and must play in Cargill’s success.</p>
      
      <p>New learner-centric design methods and digital learning technologies allow us to deliver high-impact learning experiences that:</p>
      <ul>
        <li>more closely mimic how we learn in our social lives;</li>
        <li>integrate with employees’ daily flow of work simply in an accessible way;</li>
        <li>require shorter design cycles;</li>
        <li>are more scalable but highly personalized;</li>
        <li>largely eliminate the need for travel;</li>
        <li>reduce the global footprint to support and execute (e.g., L&D, coordination, and IT resources); and</li>
        <li>enable learning anytime, anywhere, and is accessible through any device.</li>  
      </ul>
    </div>
  </div>
  
<div class="bg">
<img src="assets/images/Cargill_learning1.png">
</div>
</div>
<div class="third">
<p class="para">Our digital learning vision and strategy is driving the modernization of the employee learning
   experience at Cargill and positioning corporate learning investments as a lever to accelerate
    transformation and execute on strategies.</p>
    <div class="image"><img src="assets/images/globallearning1.png"></div>
</div>-->
<br><br><br><br><br><br>

      <div class="line2">
        <div class="heading">
          <p class="para">My <b>Learning</b> <br><span>at cargil</span></p>
          <div class="subpara">
            <div class="sub"></div>
            <div class="sub1"></div>
            <div class="sub2"></div>
          </div>
        </div>
        <div class="text">
          <p>My Learning, powered by Degreed as the underlying technology, is the <b>single point of entry for all types
              of learning
              opportunities across Organization,</b> such as Degreed plans and pathways, collaborative learning (e.g.,
            Manager Essentials,
            Unconscious Bias, Sales Excellence, Intro to Supply Chain), and Compliance, Safety and Regulatory training.
          </p>
          <p>My Learning simplifies the employee experience by providing <b>one click registration for collaborative
              learning</b>
            opportunities.</p>
          <p>Consolidating to one single source will enable <b>more robust data and analytics on learner behavior,
              consumption and
              completions</b> regardless of where the learning is occurring or what technology is being used.
          </p>
          <p><b>Quick Links:</b></p>
          <ul>
            <li><a>My Learning</a><br></li>
            <li><a>Digital Learning Resources</a></li>
          </ul>
        </div>
      </div>
    </div>
