<div id="slide5" class="half_banner">
  <div class="bg_img">
    <div class="container">
      <div class="title_panel">
        <h2 class="title">{{heading}}

        </h2>
      </div>
    </div>
  </div>
</div>
<div class="container size">
    <app-breadcrumb
    [navArr]="[{link:'key_partners', text:'Key Partners'}, {link:'global_talent_performance', text:'GHRS Talent Performance'}]">
  </app-breadcrumb>
 <div class="flex">
   <div class="width-50">
     <h3>GHRS Talent Performance</h3>
     <p>The GHRS Talent Performance Domain oversees the delivery of business-specific talent performance solutions, including consultative services to support the needs of the business. </p>
      <p>This includes ensuring alignment of activities with the global talent performance strategy and programs, along with focus on continuous improvement and inclusion and diversity.
      </p>
      <p>The Talent Performance Domain consists of three practice areas:</p>
      <ul>
        <li><b>Talent Management</b> delivers integrated talent solutions to drive talent strategies by leading succession planning, talent assessment and development to support the management and growth of talent pools</li>
        <li><b>Organization Development</b> supports the development of organization structures, identifying cultural impacts, leading change efforts and building high performing leadership teams to drive business results</li>
        <li><b>Learning & Development</b> facilitates L&D strategy through corporate, regional and need-based learning programs to develop core business, leadership and functional capabilities of our managers and employees. </li>
      </ul>
        <p>Does your business need support for Talent Performance (TP) services? Not sure how and when to partner with TP? Here is an <a>new fact sheets</a> for more in-depth details on each service. </p>
        <p>To engage with TP on new project requests, follow the process below: </p>
        <ul>
          <li><b>BHR work with your BRM</b> (Business Relationship Manager) to initiate and prioritize all project requests including change management</li>
          <li><b>BRM will work with GHRS</b> to review project requests to determine capacity and budget availability </li>
        </ul>
  
   </div>
   <div class="width-50">
     <h3>Services Delivered</h3>
     <div>
      <div class="box green_dark_bg">
          <p class="title">Talent Management</p>
          <ul>
            <li>Annual Talent Discussion</li>
            <li>Talent Development Discussion</li>
            <li>Strategic Workforce Planning </li>
            <li>Recognition Program Consulting </li>
            <li>Inclusion & Diversity Strategic Action Planning</li>
            <li>Intercultural Development Inventory Facilitated Session (IDI)</li>
            <li>Globe Smart Facilitated Session</li>
            <li>New Manager Assimilation</li>
          </ul>
      </div>

      <div class="box brand_bg">
          <p class="title">Organization Development</p>
          <ul>
            <li>Change Management</li>
            <li>Organization Design & Alignment</li>
            <li>Culture</li>
            <li>Leadership & Team Effectiveness</li>
            <li>Span of Control</li>
          </ul>
      </div>

      <div class="box brand_bg">
          <p class="title">Learning & Development</p>
          <ul>
            <li>Team Building Facilitation</li>
            <li>Manage Coaching Process</li>
          </ul>
          <p class="title">Additional available services: </p>
          <ul>
            <li>L&D Consulting </li>
            <li>Develop L&D Programs</li>
            <li>Manage Development Programs</li>
          </ul>
      </div>
    </div>
   </div>
 </div>
  
</div>