<div id="slide5" class="half_banner">
  <div class="bg_img">
    <div class="container">
      <div class="title_panel">
        <h2 class="title">{{heading}}

        </h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="size">
    <app-breadcrumb
      [navArr]="[{link:'Trans_mgmt_off', text:'Transformation Management Office'}, {link:'capablity_development', text:'Capability Development in TMO'}]">
    </app-breadcrumb>
  </div>
  <div class="tmslide3 row">
    <div class="">
      <div class="head">
        Elevating our capabilities to enable transformation at Organization will be one of the core focus points moving forward.
        Partnering with Global Learning & Development and the transformation initiatives SMEs, the<a>
          Transformation Capability Platform</a> is the one-stop shop to help grow our people in leading, 
          delivering and executing transformation.
      </div>
      <div class="content ">
        <div class="text">

          <p class="para">The capabilities we need to enable transformation are aligned to our strategy and are grouped 
            into three categories:</p>
          <ul>
            <li><b>Transformational Leadership</b> includes transformation/change leadership and financial acumen.</li>
            <li><b>Transformation Enablers</b> includes digital, data, integrated business planning (IBP), commercial excellence (CE), supply
            chain design and optimization (SCDO), sourcing and procurement (CSSP), R&D/Innovation, Organization business services (CBS),
            organization design and manufacturing excellence (ME).</li>
            <li><b>Transformation Execution</b> includes accelerated continuous improvement (ACI), portfolio & project management (PPM), value
            creation and agile.</li>
          </ul>
          <p class="para">This site is here to help you learn more about our teams, the way we work and the value we will deliver.</p>
        </div>

        <!-- <div class="image_text">
        <div class="titles">
          <div class="title1">
          <p class="head">Transformational Leadership</p>
          <p>Leading during times of transformation</p>
       </div>
        <div class="title2">
          <p class="head">Transformation Enabled</p>
          <p>Enablers that will help transform our business</p>
        </div>
        <div class="title3">
          <p class="head">Transformational Excecution</p>
          <p>Woridng differentiy to achleve our goals</p>
        </div>
        </div>
        <div class="image">
          <a href="https://cargillonline.sharepoint.com/sites/TMO_Capability_Building/SitePages/Home.aspx#/" target="_blank">
          <img src="assets/images/capablity_dev.png" alt=""></a>
        </div> 


      </div>-->
        <!--<div class="grid-container">

        <div *ngFor="let data of this.items; let i= index" class="timeline">

          <div class="text">
            <a href="{{data.link}}" target="_blank">
              <div class="image" [style.background-image]="'url('+data.image+')'">
                <div id="divTAReviews" class="title">
                  <div [innerHtml]="data.title" class="title1"> </div>
                  <div [innerHtml]="data.desc" class="desc"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>-->
      </div>
    </div>
    <div class="img">
      <a>
        <img src="assets/images/grid2.png" alt=""></a>
    </div>
  </div>
</div>
