<div id="hero" class="hero" (window:resize)="onResize($event)">
  <div id="scene">
    <div id="banner" class="right-color"></div>
    <div class="triangle-panel">

      <div class="triangle-div">
        <svg id="tri_1" height="100%" width="100%">
          <polygon class="triangle" points="50,0 0,100 100,100" />
        </svg>
      </div>

      <div class="triangle-div">
        <svg id="tri_2" height="100%" width="100%">
          <polygon class="triangle" points="50,0 0,100 100,100" />
        </svg>
      </div>

      <div class="triangle-div">
        <svg id="tri_3" height="100%" width="100%">
          <polygon class="triangle" points="50,0 0,100 100,100" />
        </svg>
      </div>
    </div>

    <div class="container ">
      <div class="main">
        <div class="hero_content flex flex-row flex-equal full-height">
          <div class="content">
            <div id="content">
              <h1 class="brand-color">Welcome to the Strategic People<br>
                Transformation Playbook!
              </h1>
              <p>Organization's <b>Organization Development guide</b> for supporting <b>people focused</b> strategic transformation.</p>
            </div>
          </div>
          <div id="image_women" class="women">
            <img src="assets/images/women.png" alt="">
          </div>
          <div class="down_arr">
            <a href="#flipcard">
              Scroll Down
              <img src="assets/images/Arrow_down1.png" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
