<div class="section light_bg">
  <div class="container" id="slide4" >
    <div class="block">

      <h2 class="text-brand">
        Our Main Purpose
      </h2>
      <div>
        <p>This playbook has been created to guide you through the relevant content regarding <b>Strategic People
            Transformations with a key focus on People.</b> Our main goal is to provide you guidance and insights in the
          world
          of
          Organization Development (OD) and transformation, existing processes and relevant tools and links which help
          you
          drive people transformations in your own area.
        </p>
      </div>
    </div>
    <div class="block">
      <h2 class="text-brand">
        This Playbook will support in…
      </h2>
      <div>
        <ul>
          <li>… Providing more context on OD and how we partner with our transformation related colleagues </li>
          <li>… Clarifying the various OD practice areas and how we work together, mainly focusing on how Strategic
            People Transformation ties together the various areas </li>
          <li>…Elaborating on the Transformation Management Office and how Strategic People Transformation works
            together with the TMO People Leads </li>
          <li>... Providing relevant tools which are applicable in assessing/scoping, monitoring and reviewing people
            related transformations </li>
        </ul>
      </div>
    </div>

    <div class="block">
      <h2 class="text-brand">
        For whom is this Playbook intended?
      </h2>
      <div>
        <p>The playbook addresses OD practitioners and non-OD practitioners, who are (in)directly involved in driving
          Strategic People Transformation activities and focuses on the People aspect of the transformation. </p>

        <p>The key user groups we have identified for this Playbook, but not limiting to, are:</p>
        <ul>
          <li>OD Core team (COE & GHRS)</li>
          <li>TMO People Leads</li>
          <li>OD Key Partners (e.g. L&D, Corporate Affairs, BHR, TP Consultants, BRM, TP COE partners, etc)</li>
          <li> Transformation Leaders across the organization</li>
        </ul>
      </div>
    </div>

    <div class="block">
      <div class="note">
        For Strategic People Transformation Playbook support and questions, please review the Q&A section and/or submit
        a request via the MyHR portal
      </div>
    </div>

  </div>
</div>
