<div id="slide5" class="half_banner">
  <div class="bg_img">
    <div class="container">
      <div class="title_panel">
        <h2 class="title">{{heading}}

        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container size">
  <app-breadcrumb
    [navArr]="[{link:'key_partners', text:'Key Partners'}, {link:'global_talent_mgmt', text:'Global Talent Management'}]">
  </app-breadcrumb>

<h3>Global Talent Management | Our Approach & Outcomes</h3>
<div class="para">
  <p><b>Vision:</b> Build and fully leverage a talented, engaged and inclusive workforce to achieve superior business results.</p>
  <p>We are focused on developing and delivering high-quality talent programs, processes, methodologies, and tools in the
  following areas:</p>


<div class="content">
<div class="left">
<h3>REWARD</h3>
<ul>
  <li>
    <span>Performance Management programs</span> that strengthen accountability and delivery of business priorities, focused on a pay-for
    performance philosophy

  </li>
</ul>
<div class="line"></div>
<div class="line"></div>
</div>
<div class="center">
<img src="assets/images/globtalent1.png">
</div>
<div class="right">
<h3>Attract and Select</h3>

<ul>
  <li>Compelling <span>Employee Value Proposition</span> focused on connecting to Organization’s higher purpose</li>
  <li>Best-in-class <span>executive candidate hiring experience</span>, in partnership with external recruiting firms</li>
  <li><span>NextGen talent acquisition strategies</span> that Improve the overall quality and user experience, increase velocity, and
  advance diversity of hiring</li>
  <li><span>Leadership selection assessments</span> to support hiring of Organization’s next generation of leaders</li>
</ul>
<div class="line"></div>
<div class="line"></div>

</div>
  </div>

  <div class="image">
    <img src="assets/images/globtalentcontent.png" alt="">
  </div>
</div>


</div>
  
  
