<div id="slide5" class="half_banner">
  <div class="bg_img">
    <div class="container">
      <div class="title_panel">
        <h2 class="title">{{heading}}

        </h2>
      </div>
    </div>
  </div>
</div>

<div class="tmslide2">
  <div class="container size">
    <app-breadcrumb [navArr]="[{link:'Trans_mgmt_off', text:'Transformation Management Office'}, {link:'OD_COE_partners', text:'OD COE & TMO People Leads'}]">
    </app-breadcrumb>
    <div class="head"> The TO’s are key in delivering the transformation success and among the various roles the People
      Leads play an eminent
      role, guided by the OD COE, in determining the Strategic People Transformation framework across the organization
      and
      to
      foster alignment, facilitate knowledge sharing and build capability.
    </div>

    <div class="content">
      <div class="left">
        <div class="title">
          <h3>People Lead</h3>
        </div>
        <ol class="list">
          <li>Develop Ent/Fun and Group/Sub-Function level Stakeholder Management plans based on transformation roadmaps
            <ul type="square">
              <li>Work with TLs to develop and plan the right engagements to support transformation objectives</li>
              <li>Pulse leaders and key stakeholders to identify risk areas and readiness to transform</li>
            </ul>
          </li>

          <li>Build awareness across organization to change the way we work
            <ul type="square">
              <li>ACI, PPM and other value levers (e.g. CBS) that are new to the organization</li>
            </ul>
          </li>

          <li>Develop, refine or validate (depending upon where they are in their transformation efforts) the overall
            “change agenda
            story” in partnership with communications.
            <ul type="square">
              <li>Coach senior leads to effectively tell the story and lead through change</li>

            </ul>
          </li>

          <li>Assess HR needs in support of TMO roadmap and partner with GHRS to diagnose (also see the Strategic People
              Transformation Process)
            <ul type="square">
              <li>Submit demand through HR intake process to prioritize and fulfill resource requests</li>
              <li>Align HR projects and resources to drive coordinated approach to change</li>
            </ul>
          </li>

          <li>Participate in <a href="#" target="_blank">TO cadence</a> of Enterprise or Function:
            <ul type="square">
              <li>Identify new HR needs and support</li>
              <li>Articulate health of programs/projects with HR workstreams</li>
              <li>Escalating people related issues or risks to overall transformation effort</li>
              <li>Identify possible collisions in roadmap impacting people and our ability to change</li>
            </ul>
          </li>
        </ol>
      </div>

      <div class="right">
        <div class="title">
          <h3>TMO OD COE</h3>
        </div>
        <div class="symbol">&</div>
        <ol>
          <li> Develop TMO change and stakeholder plan for the ET and Ent/ Fun TLs and their teams, based on high
            impact/critical
            transformations</li>
          <b>
            <li> Align ‘People Leads’ across the organization to foster alignment, facilitate knowledge sharing and
              build
              capability</li>
          </b>
          <b>
            <li> Develop People Transformation toolkit to inform and enable TMO</li>
          </b>
          <b>
            <li> Create workforce planning, transition and management strategy and plan aligned with TMO value capture
              based on high
              impact/critical transformations</li>
          </b>
          <li> Execute key OD programs in support of the practice leaders in Change, Org Design, Culture, Leadership
            Engagement, and
            Strategic People Transformation</li>
          <li> Lead the design, development and execution of OD needs for pilot TMO projects</li>
        </ol>
      </div>
    </div>
  </div>
</div>
