<div id="slide5" class="half_banner">
  <div class="bg_img">
    <div class="container">
      <div class="title_panel">
        <h2 class="title">{{heading}}
          <p class="para" [innerHtml]="description"></p>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="size2">

  <div class="slide7 ">
    <div class="mainpage">
      <div class="head container">
        <app-breadcrumb [navArr]="[{link:'toolkits_template', text:'OD Toolkits & Templates'}]">
        </app-breadcrumb>
        <p>In light of the different our OD practice areas this Strategic People Transformation Playbook supports those
          involved in
          driving people transformations from a strategic point of view and helps tie together the all of the OD
          services.</p>
        <p>The supporting OD materials mentioned below provide (non) OD practitioners guidance on how to drive and
          deliver
          transformation work across our organization. Should you need support with the delivery of OD work, Request OD
          Services <a>here</a> or contact your People
          Lead, BHR/BRM or Demand Manager.</p>
        <p>Click on the links below to navigate to the respective toolkits and/or template repository.</p>
      </div>


      <div class="our_od">

        <div class="row fade_up">
          <div class="column boxes">

            <p class="text3">Available <br> Materials</p>
            <p class="text2">What <br>we do</p>
            <p class="text1">OD Practice <br> Area</p>



            <div class="square">
              <div class="divider">
                <div class="col1 align">
                  <h4>Strategic People Transformation</h4>
                  <p class="center">Strategizing and integration of People Transformation</p>
                  <ul>
                    <li><a href="#/home">Strategic People Transformation Playbook</a> (this playbook)</li>
                    <!--<li><a
                        href="https://cargill-admin.ancileuperform.com/ucontent/761e38c9926048c59a23191d4b7b024f_en-US/index.html"
                        target="_blank">Strategic People Transformation Playbook</a></li>-->
                  </ul>
                </div>
              </div>

            </div>
            <div class="square">
              <div class="divider">
                <div class="col2 align">
                  <h4>Leadership Engagement</h4>
                  <p class="center">Preparing and mobilizing our top transformation leaders</p>
                  <ul>
                    <li>Various team/ personal effectiveness tools, available via OD COE and OD GHRS</li>
                    <li><a
                        >Drexler Sibbet Team Performance Model</a></li>
                    <li><a
                        >Gallup Strengthsfinder</a></li>
                    <li><a>The Table Group</a></li>
                  </ul>
                </div>
              </div>


            </div>

            <div class="square">
              <div class="divider">
                <div class="col3 align">
                  <h4>Culture</h4>
                  <p class="center">Delivering high performance through behavior</p>
                  <ul>
                    <li>Denison Assessment via OD COE and OD GHRS</li>
                    <li><a>Growth Mindset Culture</a>(NeuroScience Institute)</li>
                    <li><a>What is organizational
                        culture?</a></li>
                    <li><a>Organization Values</a></li>
                    <li><a>Intercultural Development Inventory</a></li>
                    <li><a>Culture work at Organization</a></li>
                    <li>Inclusion Health Scorecard integrated in Performance Review</li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="square">
              <div class="divider">
                <div class="col4 align">
                  <h4>Organization Design</h4>
                  <p class="center">A pro-active and fact-based approach to analyze and model an organization</p>
                  <ul>
                    <li><a>What is Organization
                        Design?</a>(Kates Kesler – based on Jay Galbraith’s STAR Model)</li>
                    <li><a
                        >Organization Design Toolkit</a></li>
                    <li><a>Reorganization Playbook</a></li>
                    <li><a>MADJV Playbook</a></li>
                    <li>Span of Control:<a> Learning Video</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="square">
              <div class="divider">
                <div class="col5 align">
                  <h4>Change</h4>
                  <p class="center">Enabling individuals, teams and organizations to transform</p>
                  <ul>
                    <li>Driving Change Approach Onboarding training can be found in
                      <a class="link">NourishingU</a>, search for Organization Global Change Onboarding</li>
                    <li><a class="link">Driving Change Approach (DCA) Platform</a></li>
                    <li><a class="link">Reorganization Playbook</a></li>
                        <li><a class="link">Change Learning Repository</a></li>
                        
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
