<div id="slide5" class="half_banner">
  <div class="bg_img">
    <div class="container">
      <div class="title_panel">
        <h2 class="title">{{heading}}

        </h2>
      </div>
    </div>
  </div>
</div>
<div class="container size">
    <app-breadcrumb
    [navArr]="[{link:'key_partners', text:'Key Partners'}, {link:'global_inclusion_diversity', text:'Global Inclusion & Diversity'}]">
  </app-breadcrumb>
  <div class="content">
    <div class="line1">
      <div class="head">
        <h3>Global Inclusion & Diversity (GID) | Creating a culture of continuous learning</h3>
        <p>Cargill’s success is enabled by the diversity of its employees’ unique strength and the inclusion of their
            different perspectives.
          </p>

      <p class="para">Leverage existing Programs
      </p>

      <p>Leveraging existing programs such as ELEVATE!
      </p>
      </div>
  
      <div class="image">
        <img src="assets/images/Cargill_learning1.png">
      </div>
    </div>
  
    <div class="line2">
      <div class="heading">
        <p class="para">Source innovative technology</p>
        <div class="subpara">
          <div class="sub"></div>
          <div class="sub1"></div>
          <div class="sub2"></div>
        </div>
      </div>
      <div class="text">
          <p>Identify innovative technology such as Virtual Reality to create experiential learning to build inclusive behavior
            capabilities and enhance overall culture
          </p>
  
      </div>
    </div>
  
    <div class="line3">
      <div class="head">
      <p class="para">Utilize key resources from Strategic partnerships</p>
      <p>Identify innovative technology such as Virtual Reality to create experiential learning to build inclusive behavior
      capabilities and enhance overall culture.
      </p>
      <p>For more information about Global Inclusion & Diversity visit the GID site <a>here</a>.</p>
      </div>
    </div>
    <div class="space"></div>
  
  </div>
  <!--
<div class="content">
  <div class="left">
  <div class="content1">
  <div class="number">1</div>
  <div class="text">
    <div class="head">
      <p>Leverage existing Programs
      </p>
    </div>
    <p>Leveraging existing programs such as ELEVATE! 
    </p>
  </div>
  </div>
  <div class="content3">
    <div class="number">3</div>
  <div class="text">
    <div class="head">
      <p><b>Utilize key resources from Strategic partnerships</b></p>
    </div>
    <p>Leverage skills and expertise from Catalyst, such as MARC Program. Diversity Best Practices, Globesmart 
    </p>
  </div>
  </div>
  
  </div>
  <div class="right">
  <div class="content2">
    <div class="number">2</div>
    <div class="text">
      <div class="head">
        <p>Source innovative technology</p>
      </div>
      <p>Identify innovative technology such as Virtual Reality to create experiential learning to build inclusive behavior capabilities and enhance overall culture
      </p>
         
    </div>
  </div>
  </div>
  
  </div>-->
  
</div>