<div id="slide5" class="half_banner">
  <div class="bg_img">
    <div class="container">
      <div class="title_panel">
        <h2 class="title">{{heading}}

        </h2>
      </div>
    </div>
  </div>
</div>

<div id="fit">
  <div class="size">
    <div class="container">
      <app-breadcrumb [navArr]="[{link:'summary', text:'Summary'}]">
      </app-breadcrumb>

      <h2>
        Why did we start Project Arch?</h2>

      <div class="flex">

        <div class="width-50">

          <p>
            With the pace of change and amount of digital disruption, the next horizon requires a new type of
            reimagining
            that
            focuses our workforce transformations toward a more customer-centric Organization. While some teams have planned
            efforts around workforce shifts, we’ve lacked a holistic execution plan that looks across Organization,
            streamlines
            investments, and accelerates the application of learnings. Simply put, Project Arch is aimed at asking
            ourselves
            the provocative questions and understanding the “art of the possible” for Organization.</p>

          <p>We took several capability focus areas in the organization and did a deep-dive look at our current state,
            leveraged external benchmarking and put forth recommendations for how we might grow and evolve as an
            organization
            through three key levers: skills, location and automation.</p>

          <p>The objective of creating a Organization Workforce Blueprint is to develop a future workforce strategy, bold
            actions,
            and multi-year plan to change the way we work by detailing:</p>
          <ul>
            <li>the future skills we will need,</li>
            <li>the best location where work can be done, </li>
            <li>and prioritizing digital and automation opportunities to achieve this objective</li>
            <li>in order to achieve sustainable profitable growth</li>
          </ul>


        </div>

        <div class="width-50">
          <!-- <iframe
          src="https://hasnatech-my.sharepoint.com/personal/mcader_hasnatech_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc={ca347147-fed8-468f-9f52-316ef9a5e8f2}&amp;action=embedview&amp;wdAr=1.7777777777777777"
          width="100%" height="550px" frameborder="0">This is an embedded <a target="_blank"
            href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank"
            href="https://office.com/webapps">Office</a>.</iframe> -->
          <!-- <iframe src="https://cargillonline.sharepoint.com/sites/orgdevelopment/_layouts/15/Doc.aspx?sourcedoc={184bae7e-c6a9-4a2a-adfc-ced1bc316e2b}&amp;action=embedview&amp;wdAr=1.7777777777777777"
            width="100%" height="342px" frameborder="0">This is an embedded <a target="_blank"
              href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank"
              href="https://office.com/webapps">Office</a>.</iframe> -->
        </div>
      </div>
      <div>
        <h2>What’s next?</h2>
        <p>The next steps for Project Arch are about finding opportunities to operationalize what we’ve learned. We’ve
          compiled final recommendations across our capability focus areas and are working to integrate what we can as
          it
          relates to skills, location and automation opportunities into both our existing and upcoming work. We’ve
          shared
          our findings with leadership teams in our focus areas, and will partner with HR and regional Organization
          Development teams to determine how and what can be activated.</p>

        <!-- <h2>More info?</h2>
        <p>For more information on Project Arch, please reach out to <a href="mailto:stacy_anderson@cargill.com"
            target="_blank">Stacy Anderson</a>.</p> -->

      </div>
    </div>
  </div>
</div>
